* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  
  color: white;
}


#ui {
  width: 100vw;
  height: 100vh;
}

.mobile-only {
  display: none;
}







/* main layout */

/* main-row */
.main-row {
  display: flex;
  flex-direction: row;

  height: calc(100% - 100px);
}


/* header */

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: relative;
  
  width: 200px;
  height: 100%;

  background-color: black;
  color: #a3a3a3;
  font-weight: bold;
}

header #header-top {
  padding: 0 20px;
}

header #header-top ul {
  list-style-type: none;
}

header #header-top #spotify-logo-wrapper {
  margin-bottom: 24px;
}

header #header-top nav {
  margin-bottom: 18px;
}


header #header-top nav ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .4em;

  margin-bottom: .8em;
}

header #header-top nav ul li.active {
  color: white;
}

header #header-top nav ul li.active::before {
  content: '';
  position: absolute;

  height: 35px;
  width: 3px;

  left: 0;

  background-color: #ADFF2F;
}

header #header-top nav ul li img {
  max-width: 24px;

}


/* playlist list */
header #header-top #playlist-list h3 {
  color: white;
}

header #header-top #create-playlist-button-wrapper {
  display: flex;
  align-items: center;
  gap: .5em;

  margin-bottom: .8em;
}


header #header-top #create-playlist-button-wrapper .create-playlist-icon {
  font-size: 2.5em;
}

header #header-top #playlist-list ul li {
  margin-bottom: .6em;
  
}

/* / playlist list */



/* header-bottom */
header #header-bottom {
  padding: 1em 20px;
}

header #header-bottom > div {
  display: flex;
  align-items: center;
  gap: .8em;
}

header #header-bottom #app-install {
  border-bottom: 1px solid #808080;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

header #header-bottom #app-install img {
  width: 1em;
}

header #header-bottom #profile-link .profile-link-img-wrapper {
  width: 1.5em;
  height: 1.5em;
  background-color: #808080;

  border-radius: 50%;

  overflow: hidden;
}
header #header-bottom #profile-link .profile-link-img-wrapper img {
  width: 100%;
}

/* / header-bottom */

/* /header */

.main-row main {
  background-color: #141922;
  /*  TEST */

  width: calc(100% - 200px);
  height: 100%;

  overflow-y: auto;
}
/* /main-row */


/* MAIN */

/* banner premium */
main #banner-premium {
  display: flex; 
  justify-content: flex-end;
  align-items: flex-start;
  gap: 1em;
  
  position: fixed;

  width: calc(100% - 200px);
  height: 90px;

  top: 0;
  left: 200px;

  padding-top: .8em;
  padding-right: 1.5em;

  text-align: right;


  background-color: rgba(0,0,0, .4);
  
}

main #banner-premium button {
  padding: 20px 30px;

  border-radius: 30px;
  border: solid 1px white;

  text-transform: uppercase;

  background-color: transparent;
  color: white;
}
/* /banner premium */

/* main inner */
main #main-inner {
  padding: 90px 20px 40px;
}


/* links */
main #main-inner #links {
  padding: 16px 0;
}

main #main-inner #links ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;

  list-style-type: none;
  text-transform: uppercase;
  font-weight: bold;
}

main #main-inner #links ul li {
  position: relative;
}

main #main-inner #links ul li a {
  color: white;
  text-decoration: none;

  opacity: .4;
  
  transition: opacity .3s;
}

main #main-inner #links ul li a:hover  {
  opacity: 1;
}

main #main-inner #links ul li.active::before {
  content: "";

  position: absolute;
  bottom: -6px;
  left: 50%;

  width: 30px;
  height: 3px;

  transform: translateX(-50%);

  background-color: #adff2f;

}
  
/* / links */

main #main-inner section {
  padding-top: 35px;
}

main #main-inner section h2 {
  margin-bottom: 1em;
}

main #main-inner section h2 small {
  font-size: small;
  opacity: .6;
}

main #main-inner .album-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;

  text-align: center;
}

main #main-inner .album-container .album {
  width: calc(100% / 6 - (15px / 6 * 5));

  margin-bottom: 1em;
}

main #main-inner .album-container .album .album-img {
  position: relative;

  margin-bottom: 1em;

}

/* bonus */
main #main-inner .album-container .album:hover .album-img::before {
  content: '';

  position: absolute;
  width: 100%;
  height: 100%;

  background-color: black;
  opacity: .5;

}

main #main-inner .album-container .album:hover .album-img::after {
  content: '\f144';

  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-family: "Font Awesome 6 Free";
  font-size: 3em;
}

main #main-inner .album-container .album .album-title {
  margin-bottom: .7em;
  font-weight: bold;
}

main #main-inner .album-container .album .album-artist {
  opacity: .7;
}

main #main-inner .album-container .album .album-img img {
  width: 100%;
  /* height: auto; */
}


main #main-inner .popular-artists .album-container .album .album-img {
  border-radius: 50%;  
  overflow: hidden;
}

/* / main inner */


/* / MAIN */

/* footer  */
footer {
  background-color: #282828;
  /* TEST */

  display: flex;
  justify-content: space-between;

  width: 100%;
  height: 100px;
}

/* TEST */
footer > div {
  /* background-color: crimson; */
  border: #282828 1px solid;
}
/* / TEST */

footer #footer-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;

  width: 100%;
  max-width: 300px;

  padding: 24px 10px;
}

/* track album cover */
footer #footer-left .track-album-cover {
  height: 100%;
}

footer #footer-left .track-album-cover img {
  height: 100%;
}
/* / track album cover */


/* track details */
footer #footer-left .track-details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  

}

footer #footer-left .track-details span{
  opacity: .7;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

}
/* /track details */


footer #footer-left .track-buttons .fa-regular { 
  opacity: .7;
}


/* footer center */
footer #footer-center {
  width: 100%;
  min-width: 200px;
  max-width: 530px;

  padding: 0 4px;
}

/* player-buttons */
footer #footer-center .player-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

  height: 50%;

  padding: 8px 0;
  padding-top: 18px;

  font-size: 1.4em;
}

footer #footer-center .player-buttons #play-button {
  font-size: 1.6em;

  transition: transform .3s;
}

/* BONUS */
footer #footer-center .player-buttons #play-button:hover {
  transform: scale(110%);
}

/* /player-buttons */

/* player-timeline */
footer #footer-center .player-timeline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 22px;

  height: 50%;
}

footer #footer-center .player-timeline .player-timeline-bar {
  flex-grow: 1;
}

footer #footer-center .player-timeline .player-timeline-bar .player-timeline-bar-total {
  width: 100%;
  height: 4px;

  border-radius: 2px;

  background-color: #5a5a5a;
}

footer #footer-center .player-timeline .player-timeline-bar .player-timeline-bar-total .player-timeline-bar-current {
  background-color: #c1c1c1;

  width: 15%;
  height: 100%;

  border-radius: 2px;

}
/* / player-timeline */

footer #footer-right {
  width: 100%;
  max-width: 240px;

}
/* /footer center */




/* MEDIA QUERY TABLET  */

@media screen and (max-width: 992px) {
  main #main-inner .album-container .album {
    width: calc(100% / 4 - (15px / 4 * 3));
  }
}

@media screen and (max-width: 768px) {
  main #main-inner .album-container .album {
    width: calc(100% / 2 - (15px / 2 * 1));
  }
}


@media screen and (max-width: 576px) {
  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: block;
  }
  /* hide desktop only elements  */

  header {
    width: 50px;
  }

  header #header-top {
    padding: 0 .4em;
  }

  header #header-bottom {
    padding: 0 .4em;
  }

  /* main */
  main #banner-premium {
    width: calc(100% - 50px);
    left: 50px;
  }
  .main-row main {
    width: calc(100% - 50px);
  }
  /* / main */

}
